language: android
jdk: oraclejdk8
sudo: false

branches:
  only:
  - master
  - develop
  - travis-setup

android:
  components:
    - tools
    - platform-tools
    - tools
    - build-tools-25.0.0
    - android-22
    - android-25
    - sys-img-armeabi-v7a-android-22
    - extra-android-m2repository

script:
  - ./gradlew assembleCiDebug
  - echo no | android create avd --force -n test -t android-22 --abi armeabi-v7a
  - emulator -avd test -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &
  - ./gradlew connectedCiDebugAndroidTest
