@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
 font-size: 100%;
 font-family: 'Roboto', sans-serif !important;
 color: #333;
}

body, nav, .navbar-header, img, table {
    width:auto !important;
    max-width:device-width;
}

body{
    margin:0;padding:0;
}

.navbar-fixed-top{
    height: auto;
    position: inherit !important;
}

.navbar-brand{
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.navbar-fixed-bottom{
    display: none !important;
}

.container#content {
	padding-top: 0px !important;
}

#toc li>a{
    color: #1565c0 !important;
    padding: 2px !important;
}

#toc{
    margin: 0px 0px 15px 0px;
    padding: 20px;
    background: #f3f3f3;
}

ul{
    padding: 0 !important;
    list-style-type: square;
}

ol{
    padding: 0 !important;
}

ol > li > span:empty {
    display: none;
}

ul > li, ol > li{
    padding: 0 !important;
    margin: 10px 0px 0px 0px;
}

img{
    max-width: ###SCREEN_WIDTH### !important;
    height: auto;
}

h1,h2,h3{
    color: ###PATIENT_COLOR### !important;
}

/************* IMPORTED FROM screen.css  ******************/
.right .github-fork-ribbon {
  background-color: #563d7c;
}

h1 {
	font-size: 15pt;
	font-weight: bold;
	/* Estilos para que al pulsar sobre los enlaces del TOC respete el espacio de la cabecera */
	padding-top: 90px;
	margin-top: -70px;
}

h2 {
	font-size: 14pt;
	font-weight: bold;
	padding-top: 90px;
	margin-top: -80px;
}

h3 {
	font-size: 12pt;
/* 	font-weight: bold; */
	padding-top: 90px;
	margin-top: -80px;
	text-decoration: underline;
}

.container {
  max-width: 1200px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.hint {
  color: #563d7c;
  display: inline-block;
  font-weight: bold;
  left: 20px; /* match the left margin of the top-level nav items */
  position: relative;
  top: 0.5em;
}

.hint:before {
  content: 'â†‘';
  display: block;
  font-size: 3em;
  margin-bottom: 5px;
  text-align: center;
}

footer {
  margin-top: 50px;
  text-align: center;
}

/* small screens */
@media (max-width: 768px) {
  /* override the Affix plugin so that the navigation isn't sticky */
  nav.affix[data-toggle='toc'] {
    position: static;
  }

  /* display the second-level nav */
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }

  .hint {
    top: 0;
  }
}

/* large screens */
@media (min-width: 768px) {
  h1:first-child {
    margin-top: 0;
  }
}

#fixheader .container {
	padding-top: 10px;
	padding-bottom: 10px;
}

nav#fixheaderBottom {
	margin-top: 10px;
}

#fixheaderBottom .container {
	padding-top: 0px;
	padding-bottom: 0px;
}

.navbar#fixheaderBottom {
	min-height: 30px;
}

#fixheaderBottom .navbar-brand {
	height: 30px;
	padding-top: 5px;
	padding-bottom: 0px;
}

.container#content {
	padding-top: 90px;
}
